
body{
    background-color:whitesmoke;
    color: goldenrod;
}
.big{
    border:solid  1px black;
    padding: 20px;
    margin: 50px;
    font-size: 20px;
}
.big2{
    border:solid  1px blue;
    padding: 20px;
    margin: 50px;
    font-size: 20px;
}
.big3{
   
    position: relative; left: 550px;
}
.a1{
    position: relative; left: 450px; 
}